/*font-family: 'Pacifico', cursive;*/
/*font-family: 'Oswald', sans-serif;*/
body {
    font-family: 'Oswald', sans-serif;
}

.content-height {
    height: 90%;
}

#content-section {
    height: 962px;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 62px;
    color: white;
    padding: 20px;
}

h2 {
    width: 548px;
    color: white;
    margin: auto;
}

h3 {
    text-align: center;
    font-size: 1.5vw;
    line-height: 29px;
    text-shadow: -3px 4px 7px #000000a6;
}

header {
    background: #1b405694;
    border-bottom: solid 4px white;
}

body {
    overflow-x: hidden;
    background: #377ca5;
}

label {
    margin: 0 0 0 41px;
    color: #999999;
}

#search-bar {
    width: 210px;
    /* margin-bottom: 21px; */
    /* margin-left: -7px; */
    height: 30px;
    margin: 15px 0 15px -5px;
    /* text-align:  center; */
}

#add-button {
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    background: black;
    text-align: center;
    margin-left: -43px;
}

#spot-container {
    position: fixed;
    margin-left: -19px;
    z-index: 99 !important;
}

#spot-title {
    font-size: 40px !important;
}

#spot-row {
    margin: auto;
    margin-top: -63px;
}

#spot-gif {
    width: 100%;
    height: 100%;
    background: none;
    padding: 0;
    box-shadow: -7px 7px 14px #00000087;
    margin-bottom: 9%;
}

.sp-row-2 {
    height: fit-content;
}

.sp-row-1 {
    height: 73px;
}

.sp-row-3 {height: -2px;}

#spot-rating {
    margin-top: 3%;
}
#spot-box {
    border: solid white;
    background: #1b4056;
    color: white;
    overflow: hidden;
    margin-top: 20px;
    padding: 14px;
    height: 858px;
    box-shadow: -5px 6px 16px 0px #000000b3;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    height: 100%;
    /* padding-bottom: 29px; */
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    /* padding-right: 10px; */
    /* width: 10px; */
    border-right: solid 5px #377ca5;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #592223;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    height: 861px;
    overflow: auto;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#instruction-row {
    display: none;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.movement {position: relative;background:  black;width: 50%;border-bottom: solid 2px;}

#right {float: right;text-align:  right;padding-right: 30px;}

#left {float: left;}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.gif-row {
    margin-bottom: 23px;
}

.smaller-text {
    font-size: 20px;
    margin-bottom: 0px;
}

.gif-box {
    height: 310px;
    border: solid white;
    background: #1b4056d1;
    color: white;
    overflow: hidden;
    padding: 14px;
    box-shadow: -5px 6px 16px 0px #000000b3;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.gif-image { /* position:  absolute; */
    position: relative;
    margin-bottom: 12px; /* margin-top: 10px; */
    height: 68%;
    width: 100%;
    box-shadow: -7px 7px 14px #0000004f;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.pacifico {
    font-family: "Pacifico", cursive;
    text-shadow: -3px 4px 7px #000000a6;
}

.sidebar-nav > .sidebar-brand a label {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.link {
    position: relative;
    float: left;
    width: 80%;
    /* margin-left: -31px; */
    color: white !important;
    overflow: hidden;
}

a#display-dog {
}

.link-X {
    position: relative;
    float: left;
    /* padding-right: 49px; */
    width: 20%;
    background: black;
    color: white;
}

.meme-category {
    border-bottom: white solid 2px;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        /* height: 0%; */
        padding-bottom: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}